doctype html
html(lang="ENGLISH")
    head
        title #{title}
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css")
        a(href='/login') Sign In
        body
        block content
