doctype html
html(lang="ENGLISH")
    style
        include main.css
    head#head
        title #{title}
        div(class='navBar')
            a(href='/') Home #{' '}
            if user
                div(class="signout")
                    a(href='/signout') Sign Out #{"    "}
                    span(class="navbaruser") #{user.username}
            else
                a(href='/login') Sign In
        body
        block content