extends layout.pug

block content
    div(class="centerData")
        h1 Sign in
        form(action="/login", method="post")
            section
                label(for="username") Username
                input(name="username", required)
            section
                label(for="password") Password
                input(name="password", type="password", required)
            div(class="yesNo")
                button(type="submit") Sign in
                a(href="/", class="Cancel") Cancel
            if message
                p= message
            section
                p Don't have an account yet?
                    a(href="/signup")  Sign up here!